# This workflow will build a Java project with Brachyra
# For more information see: docs/development/brachyura.md

name: Java CI with Gradle

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582

      - name: Run build with Gradle Wrapper
        run: ./gradlew build

      - name: Upload built JAR (Fabric)
        uses: actions/upload-artifact@v4
        with:
          name: iris-artifacts
          path: build/libs
